body {
  font-size: 100%;
  margin: 0;
  padding: 2rem 0;
  background: #000;
  color: #ccc;
}

h1 {
  font-family: Verdana, sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 50vw;
  font-size: 3vw;
  text-transform: uppercase;  
}

section {
  margin: 2rem auto 0;
  width: 50vw;
}

#frekvens #front {
  width: 50vw;
  height: 50vw;
  background: #111;
}

#code {
  display: flex;
}

#code textarea {
  flex-grow: 1;
  background: #111;
  color: #ddd;
  border: none;
  font-family: monospace;
  font-size: 1.5vw;
  box-sizing: border-box;
  padding: 1vw;
  height: 25vw;
}

#code textarea:focus {
  outline: 1px solid #eee;
}

#error {
  margin: 1rem auto 0;
  width: 50vw;
  color: #f30;
  font-family: sans-serif;
  font-size: 2vw;
}