@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  font-size: 100%;
  margin: 0;
  padding: 2rem;
  background: #111;
  color: #ccc;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-transform: uppercase;
}

section {
  margin-top: 2rem;
  
}
#frekvens {
/*   display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 2rem;
}

#frekvens .canvas-container {
/*   flex-grow: 1; */
/*   width: 40vw; */
  padding-top: 100%;
  box-sizing: border-box;
  position: relative;
}

#frekvens canvas {
  background: red;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

#frekvens canvas:first-child {
  margin-right: 2rem;
}

#code {
  display: flex;
}

#code textarea {
  flex-grow: 1;
  background: 0;
  color: #eee;
  font-family: monospace;
  
}
